
.icon-mail:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-github:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-terminal:before { content: '\e804'; } /* '' */
.icon-leaf-1:before { content: '\e805'; } /* '' */