<div class="<%= "#{controller.controller_name}" %> header">
  <div class="title">
    Yumaru's Contents.
  </div>
</div>

<div class="<%= "#{controller.controller_name}" %> content">

  <div class="subtitle">About</div>
  <div class="subcontent">
    I'm a application engineer.<br/>
    Fav: C++ C# Ruby Linux Vim MIDI MMD<br/>
    <br/>

    I'm looking for a enjoyable job!<br/>
    So waiting a message from you;)<br/>
  </div>

  <div class="subtitle">Contact</div>
  <div class="subcontent">
    <div>yukpiz@gmail.com</div>
    <a href="https://twitter.com/yumaru_eng" target="_blank">Twitter</a>
    <a href="https://github.com/yukpiz" target="_blank">Github</a>
    <a href="https://gist.github.com/yukpiz" target="_blank">Gist</a>
  </div>

  <div class="subtitle">MML Scores</div>
  <div class="subcontent">
    <div>
      <a href="https://gist.github.com/yukpiz/7f2db9cd1a9ea5cba6a99e17ecad1b45" target="_blank">IA - Imagination Forest(Souzou Forest)</a><br/>
      Special Thanks;)
      <a href="https://www.youtube.com/watch?v=13UiZdBpBIQ" target="_blank">Original PV</a>
      <a href="https://www.youtube.com/watch?v=gxS2NPkH_fE" target="_blank">Piano Score</a>
    </div>
    <br/>
    <div>
      <a href="https://gist.github.com/yukpiz/6f92fa4bc8aac2b22ea69c75b0025190" target="_blank">GUMI - Donut Hole</a><br/>
      Special Thanks;)
      <a href="https://www.youtube.com/watch?v=2HIEdeHGBpg" target="_blank">Original PV</a>
      <a href="https://www.youtube.com/watch?v=PNXVHHcaAzE" target="_blank">Piano Score</a>
    </div>
    <br/>
    <div>
      <a href="https://gist.github.com/yukpiz/6c3f88b85c8b245e786e09305e43fe4e" target="_blank">Hatsune Miku - The disappearance of Hatsune Miku(Hatsune Miku no syoushitsu)</a><br/>
      Special Thanks;)
      <a href="https://www.youtube.com/watch?v=j3q54T868Bk" target="_blank">Original PV</a>
      <a href="https://www.youtube.com/watch?v=6pf8kmBgDM4" target="_blank">Piano Score</a>
    </div>
  </div>

  <div class="subtitle">Posts</div>
  <div class="subcontent">
    <iframe class="botframe" src='https://webchat.botframework.com/embed/mecha_pentagon?s=6TLbAZOhrR8.cwA.GF4.cnCYSNwP0Gz2s1cs-rbBddTJoPqLsF8DEU7mm_QXW2Q'></iframe>
  </div>
</div>
