<div name="index" class="index">
  <div class="title-text">
    <span data-shadow-text="Yumaru's">Yumaru's</span>
    <br/>
    <span data-shadow-text="Contents.">Contents.</span>
  </div>

  <div class="menus">
    <a class="menu-button about-button" href="#about">About</a>
    <a class="menu-button scores-button" href="#scores">Scores</a>
    <br/>
    <a class="menu-button contacts-button" href="#contacts">Contacts</a>
  </div>
</div>

<div id="about" class="about">
  <div class="title-text">
    <span data-shadow-text="About">About</span>
  </div>

  <div class="about-content">
    <p>I'm a application engineer.</p>
    <p>MML is a beginner content, my loose hobbies.</p>
    <p><i class="fa fa-heart-o"></i>Fav is Anime Fishing C++ C# Ruby Linux Vim MIDI MMD</p>
    <br/>
    <p>I'm looking for a enjoyable job!</p>
    <p>So waiting a message from you<i class="fa fa-smile-o"></i></p>
    <br/>
  </div>
</div>

<div id="scores" class="scores">
  <div class="title-text">
    <span data-shadow-text="Scores">Scores</span>
  </div>

  <div class="scores-content">
    <p>Thank you to the original authors and music score authors<i class="fa fa-star-o"></i></p>
    <ul>
      <li>
        <a class="score-button" href="https://gist.github.com/yukpiz/7f2db9cd1a9ea5cba6a99e17ecad1b45" target="_blank">MML</a>
        IA - Imagination Forest(想像フォレスト)
      </li>
      <li>
        <a class="score-button" href="https://gist.github.com/yukpiz/6f92fa4bc8aac2b22ea69c75b0025190" target="_blank">MML</a>
        GUMI - Donut Hole(ドーナツホール)
      </li>
      <li>
        <a class="score-button" href="https://gist.github.com/yukpiz/6c3f88b85c8b245e786e09305e43fe4e" target="_blank">MML</a>
        Hatsune Miku - The disappearance of Hatsune Miku(初音ミクの消失)
      </li>
      <li>
        <a class="score-button" href="https://gist.github.com/yukpiz/17403565fbdb08345cdef55b54c45a90" target="_blank">MML</a>
        Machico - fantastic dreamer(この素晴らしい世界に祝福を！ OP)
      </li>
      <li>
        <a class="score-button" href="https://gist.github.com/yukpiz/e6bf5f7e424b73948ebc3165257a5f04" target="_blank">MML</a>
        MYTH &amp; ROID - Paradisus-Paradoxum(Re:ゼロから始める異世界生活 OP)
      </li>
      <li>
        <a class="score-button" href="https://gist.github.com/yukpiz/7dcdae8d75d8e15f315e0c7c3ef8c3a6" target="_blank">MML</a>
        Hatsune Miku - Hello/How are you?(ハロ／ハワユ)
      </li>
    </ul>
  </div>
</div>

<div id="contacts" class="contacts">
  <div class="title-text">
    <span data-shadow-text="Contacts">Contacts</span>
  </div>

  <div class="contact-content">
    <div class="contact-links">
      <a class="contact-button" href="https://github.com/yukpiz/" target="_blank"><i class="fa fa-github"></i></a>
      <a class="contact-button" href="https://twitter.com/yumaru_eng/" target="_blank"><i class="fa fa-twitter"></i></a>
    </div>
    <div class="bot">
      <iframe class="botframe" src='https://webchat.botframework.com/embed/mecha_pentagon?s=6TLbAZOhrR8.cwA.GF4.cnCYSNwP0Gz2s1cs-rbBddTJoPqLsF8DEU7mm_QXW2Q'></iframe>
    </div>
  </div>

</div>
