<div class="<%= "#{controller.controller_name}" %> header">
  <div class="title">
    Yumaru's Contents.
  </div>
</div>

<div class="<%= "#{controller.controller_name}" %> content">

  <div class="subtitle">About</div>
  <div class="subcontent">
    I'm a application engineer.<br/>
    Tokyo and Okinawa has been based.<br/>
    I have a liking for Linux, Vim and Ruby language.<br/>
    <br/>

    I'm looking for a enjoyable job!<br/>
    So waiting a message from you;)<br/>
  </div>

  <div class="subtitle">Contact</div>
  <div class="subcontent">
    <div>yukpiz@gmail.com</div>
    <a href="https://twitter.com/yumaru_eng">Twitter</a>
    <a href="https://github.com/yukpiz">Github</a>
    <a href="https://gist.github.com/yukpiz">Gist</a>
  </div>

  <div class="subtitle">MML Scores</div>
  <div class="subcontent">
    <div>
      <a href="https://gist.github.com/yukpiz/7f2db9cd1a9ea5cba6a99e17ecad1b45">IA - 想像フォレスト</a><br/>
      Special Thanks;)
      <a href="https://www.youtube.com/watch?v=13UiZdBpBIQ">Original PV</a>
      <a href="https://www.youtube.com/watch?v=gxS2NPkH_fE">Piano Score</a>
    </div>
    <br/>
    <div>
      <div>GUMI - ドーナツホール(In production!)</div>
      Special Thanks;)
      <a href="https://www.youtube.com/watch?v=2HIEdeHGBpg">Original PV</a>
      <a href="https://www.youtube.com/watch?v=PNXVHHcaAzE">Piano Score</a>
    </div>
  </div>

  <div class="subtitle">Posts</div>
  <div class="subcontent">
    <iframe class="botframe" src='https://webchat.botframework.com/embed/mecha_pentagon?s=6TLbAZOhrR8.cwA.GF4.cnCYSNwP0Gz2s1cs-rbBddTJoPqLsF8DEU7mm_QXW2Q'></iframe>
  </div>
</div>
