<div class="<%= "#{controller.controller_name}" %> header">
  <div class="title">
    Yumaru's Contents.
  </div>
</div>

<div class="<%= "#{controller.controller_name}" %> content">

  <div class="subtitle">About</div>
  <div class="subcontent">
    I'm a application engineer.<br/>
    Tokyo and Okinawa has been based.<br/>
    I have a liking for Linux, Vim and Ruby language.<br/>
    <br/>

    I'm looking for a enjoyable job!<br/>
    So waiting a message from you;)<br/>
  </div>

  <div class="subtitle">Contact</div>
  <div class="subcontent">
    yukpiz@gmail.com<br/>
    <a href="https://twitter.com/yumaru_eng">Twitter</a>
    <a href="https://github.com/yukpiz">Github</a>
  </div>

  <div class="subtitle">Posts</div>
  <div class="subcontent">
  </div>

</div>
