@font-face {
  font-family:'AustieBostKittenKlub';
  src:font-url('AustieBostKittenKlub.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'musicals';
  src:font-url('musicals.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'actionj';
  src:font-url('actionj.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'GLAMOURGIRL';
  src:font-url('GLAMOURGIRL.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'CraftyGirls';
  src:font-url('CraftyGirls.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'Shojumaru';
  src:font-url('Shojumaru-Regular.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'mitimasu';
  src:font-url('mitimasu.ttf');
  font-weight:normal;
  font-style:normal;
}

body {
  margin:0;
  padding:0;
  font-size:15pt;
}

i {
  padding:0 .1em 0 .1em;
}
